[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
django-filter = "*"
mysqlclient = "*"
django-simple-captcha = "*"

[dev-packages]
django-seed = "*"
psycopg2-binary = "*"
autopep8 = "*"

[requires]
python_version = "3.12"
